<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CPProject.imageHandler.image_path" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="CPProject.User.handlers.user_config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="CPProject.DataBaseModel.serialize_config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CPProject.imageHandler.image_path>
            <setting name="FilmPreviewFolder" serializeAs="String">
                <value>./images/film_preview/</value>
            </setting>
        </CPProject.imageHandler.image_path>
        <CPProject.User.handlers.user_config>
            <setting name="RememberUserPath" serializeAs="String">
                <value>./User/user</value>
            </setting>
        </CPProject.User.handlers.user_config>
        <CPProject.DataBaseModel.serialize_config>
            <setting name="SerializeUserCollectionPath" serializeAs="String">
                <value>./DBSerializedCollection/users</value>
            </setting>
            <setting name="SerializeBlockedUserCollectionPath" serializeAs="String">
                <value>./DBSerializedCollection/blocked_users</value>
            </setting>
            <setting name="SerializeFilmCollectionPath" serializeAs="String">
                <value>./DBSerializedCollection/films</value>
            </setting>
            <setting name="SerializeSessionCollectionPath" serializeAs="String">
                <value>./DBSerializedCollection/sessions</value>
            </setting>
            <setting name="SerializeTicketCollectionPath" serializeAs="String">
                <value>./DBSerializedCollection/tickets</value>
            </setting>
            <setting name="SerializeReviewCollectionPath" serializeAs="String">
                <value>./DBSerializedCollection/reviews</value>
            </setting>
        </CPProject.DataBaseModel.serialize_config>
    </applicationSettings>
</configuration>